.square {
    background-color: #607d8b;
    color: white;
    
    position:relative;
    text-align: center;
    border: 0px solid #ccc;
    border-bottom: 5px solid;
    
}

html, body, form
        {
            height: 100%;
            overflow: auto;
        }
::-webkit-scrollbar {
    display: none;
}

#terminal
{
    white-space:pre-wrap;
}