.square {
    background-color: #607d8b;
    color: white;
    
    position:relative;
    text-align: center;
    border: 0px solid #ccc;
    border-bottom: 5px solid;
    
}




::-webkit-scrollbar {
    display: none;
}