extends layout

block content
    .w3-container.w3-margin
        .w3-card-4.w3-margin
            header.w3-container.w3-blue-grey
                h2(style="display: inline;") Autoria e contributos 
                h6.w3-right(style="display: inline;")
                    a(href="/", class="w3-button w3-padding-small w3-round-large w3-blue-grey", style="margin-right:3px") Voltar

            .w3-container 
                p Nesta página identificam-se as pessoas que com o seu trabalho permitiram ter esta plataforma online e operacional. 
                p Um grande obrigado a todos pelo seu contributo nesta ferramenta pedagógica.
                hr
                table.w3-table-all 
                    tr 
                        td Sofia Teixeira
                        td Outubro de 2022 
                        td Com sua a tese de mestrado criou a primeira versão da plataforma. 
                    tr 
                        td Francisco Ferreira 
                        td 2º semestre de 2023/2024 
                        td Contribuiu com várias correções de erros e novas instruções que foram incorporadas na VM.
                    tr 
                        td Rui Gonçalves 
                        td 2º semestre de 2023/2024 
                        td Contribuiu com várias correções de erros e novas instruções que foram incorporadas na VM.
                    tr 
                        td Daniel Pereira 
                        td 2º semestre de 2023/2024 
                        td Contribuiu com várias correções de erros e novas instruções que foram incorporadas na VM.
                    tr 
                        td Luís Ribeiro 
                        td 2º semestre de 2023/2024 
                        td Contribuiu com a adição de 2 novas instruções: COPY e COPYN.
                    tr 
                        td Rafael Fernandes 
                        td 2º semestre de 2024/2025 
                        td Contribuiu com a correção da instrução CHECK e tornou mais robusta a capacidade multiutilizador.
                    tr 
                        td Humberto Gomes 
                        td 2º semestre de 2024/2025 
                        td Contribuiu com a correção da instrução ALLOCN.
                    tr 
                        td Pedro Rangel Henriques 
                        td Desde sempre...
                        td O mentor da ideia.
                    tr 
                        td José Carlos Ramalho 
                        td Desde sempre...
                        td O devops sempre de serviço...

            footer.w3-container.w3-blue-grey
                address(style="display: inline;") Versão: #{metadados.version} (#{metadados.vdate})
                h6.w3-right(style="display: inline;")
                    a(href="/", class="w3-button w3-padding-small w3-round-large w3-blue-grey", style="margin-right:3px") Voltar
    
        
