doctype html
html(style="background-image: linear-gradient(#f0f8ff, #dfeaf2);")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery-linedtextarea.css')
    link(rel='stylesheet', href="/stylesheets/animation.css")
    link(rel="stylesheet", href="https://www.w3schools.com/lib/w3-theme-cyan.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css")
    script(src="/javascripts/jquery-3.5.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js")

    script(src="https://cdn.rawgit.com/eligrey/FileSaver.js/5ed507ef8aa53d8ecfea96d96bc7214cd2476fd2/FileSaver.min.js")

    script(src="/javascripts/helper.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js")
    block script
  body
    block content
