div.w3-right.w3-margin-right
          h6(style="display: inline;")
            a(href="/examples", class="w3.button w3-padding-small w3-round-large w3-indigo", style="margin-right:3px") Examples
            a(href="/manual", class="w3.button w3-padding-small w3-round-large w3-indigo", style="margin-right:3px") Documentation
            a(href="/credits", class="w3.button w3-padding-small w3-round-large w3-indigo") Credits